.hero {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/* height: calc(100% - 1.25vw); */
	z-index: -2;
}
.opacity {
	background-color: black;
	opacity: 40%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
