.cta {
	font-weight: 700;
	color: white;
	padding: 1em 2.25em;
	background-color: #2b2b2b;
	border-radius: 22px;
}

.container {
	position: absolute;
	bottom: 1.25vw;
	left: 2.5vw;
	right: 2.5vw;
	display: flex;
	justify-content: space-between;
	/* border: 2px solid red; */
}
