.cta {
	font-weight: 700;
	color: white;
	padding: 1em 2.25em;
	background-color: #2b2b2b;
	border-radius: 30px;
}

.container {
	position: absolute;
	bottom: 1.75vw;
	left: 2vw;
	right: 2vw;
	display: flex;
	justify-content: space-between;
	/* border: 2px solid red; */
}
.info p {
	font-size: 25px;
}
.info h3 {
	font-size: 25px;
}
